body {
    text-align: center;
}
h1 {
    font-family: 'Cinzel Decorative', cursive;
    line-height: 1.2;
}

h2 {
    font-family: cursive;
    line-height: 1.2;
}

p {
    font-size: 25px;
    font-family: fantasy;
    line-height: 1.2;
}

.line {
    height: 6px;
    background-color: brown;
    width: 70px;
    margin: 8px auto;
}

#welcome {
    display:table;
    width:100%;
    color:black;
    text-align: center;
    z-index: 9;
    background-color:bisque;
    font-family: 'Cinzel Decorative', cursive;
}

#name{
    font-family: fantasy
}
a{
    text-decoration: none;
    font-size:20px;
    font-family:monospace;
}
#contactinfo{
    background-color:burlywood;
}
.contact1{
    text-shadow: 1px 1px 1px #000;  
}
.contact2{
    text-shadow:1px 1px 1px #000;
}
#twitterE{
    display:inline;
}
#redditE{
    display:inline;
}
.my_nav_bar{
    position: sticky;
    top:0;
    z-index: 99999;
}
#contact iframe{
    width:100%;
}
#about h1{
    font-family: 'Cinzel Decorative', cursive;
}
#about{
    background-color:darksalmon;
    
}
#YTChannel{
    background-color:burlywood;
}
#YTChannel h1{
    font-family: 'Cinzel Decorative', cursive;
}
#MFG{
    background-color:coral;
}
#MFG h1{
    font-family: 'Cinzel Decorative', cursive;
}